SOURCE_HOST=localhost
SOURCE_PORT=1883
SOURCE_USER=
SOURCE_PASS=
SOURCE_TOPIC=#
SOURCE_TLS=false

TARGET_HOST=localhost
TARGET_PORT=1883
TARGET_USER=
TARGET_PASS=
# Empty = same topic as source. Supports <deviceId> and <deviceIdShort>.
TARGET_TOPIC=
TARGET_TLS=false
